alias reload=". ~/.zshrc && echo 'ZSH config reloaded from ~/.zshrc'"
alias zshconfig="sublime ~/.zshrc"
alias ohmyzsh="sublime ~/.oh-my-zsh"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias la="ls -a -l"
alias ll="ls -l"
alias "ps?"="ps ax | grep"
alias updatelocate="sudo /usr/libexec/locate.updatedb"
alias git="hub"
alias coup="composer selfupdate"
alias cols="composer run script --list"
alias cuh="cd $COMPOSER_HOME && composer update && cd"

# Defuse rm by using trash (https://github.com/sindresorhus/trash) instead
alias empty-bin="trash"

# Recursively delete `.DS_Store` files
alias dsstore="find . -name '*.DS_Store' -type f -ls -delete"

# Update all docker images
alias udi="docker images | awk 'BEGIN {OFS=\":\";}NR<2 {next}{print \$1, \$2}' | xargs -L1 docker pull"
