[user]
    name = Name Surname
    email = name.surname@gmail.com
[color]
    ui = auto
    diff = auto
    log = auto
    status = auto
    branch = auto
    interactive = auto
[alias]
    df = diff
    ci = commit
    co = checkout
    cob = checkout -b
    st = status
    stm = status -sb
    ap = add -p
    br = branch
    brs = branch -a --color -v
    # Delete a branch only if it has been merged
    bd  = branch -d
    # Force delete of a branch
    bD  = branch -D
    # Remove all merged branches
    bdm = "!git branch --merged | grep -v '*' | xargs -n 1 git branch -d"
    alias.up = push origin
    # Show the diff between the latest commit and the current state
    d = !"git diff-index --quiet HEAD -- || clear; git diff --patch-with-stat"
    # `git di $number` shows the diff between the state `$number` revisions ago and the current state
    di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
    amend = commit --amend -C HEAD
    packdiff = diff --name-only --diff-filter=RAMC
    ln = log --oneline -n
    pl = log --pretty='format:%C(3)[%h] %Cgreen%an%Creset%n %cd %s %Cred%d%Creset' --graph
    sshow = "!f() { git stash show stash^{/$*} -p; }; f"
    sapply = "!f() { git stash apply stash^{/$*}; }; f"
    egc = !"git config --$1 -e"
[core]
    excludesfile = /Users/<username>/.gitignore
    whitespace = cr-at-eol
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true
[credential]
    helper = osxkeychain
